<h1>About Bloccit</h1>
<p> 
  This was/(is being) created by Marcus Collier as apart of my Bloc Apprenticeship. I expect this immersive program to bring me up to a level of web development that won't bring shame to my family, lol. jk...No, but seriously, my objective is to gain entry level coding skills and and perhaps you can share this journey with me.
</p>

<p> 
  P.S. As I go through the checkpoints, I plan to add my own touches, including extra features. In the beginning it may be lite, but overtime, expect to see more dynamic code. 
</p>
