h1 {
  color: red;
}

p#index-title {
  text-align: center;
  font-size: 15px;
  color: blue;
}

.posts {
  border: solid;
  margin: 5px;
  padding: 5px;
  height: 150px;
}

section {
  background: #5998ff;
  border-style: double;
  border-width: 4px;
  margin: 5x 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}